rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /configuracion/{document=**} {
      allow read, write;
    }
    match /clientes/{document=**}
    {
    	allow read, write: if request.auth !=null;
    }
  }
}